<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <provider android:name="bes.max.bmaps.core.sharing.BmapsFileProvider"
            android:authorities="${applicationId}.transfers" android:exported="false" android:grantUriPermissions="true">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/bmaps_transfer_paths" />
        </provider>
    </application>
</manifest>
