<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>bes.max.bmaps.downloads</string>
		<string>bes.max.bmaps.elevation-generation</string>
	</array>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Bmaps uses your location to show your position on maps and center the map builder near you.</string>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>processing</string>
	</array>
</dict>
</plist>
